*{
    box-sizing: border-box;
}
#grid, #message{
    width: 280px;
    margin: auto;
}
#message{
    padding-top: 20px;
    text-align: center;
    clear: both;
    font-weight: 800;
    font-size: 20px;
}
.container{
    width: 33.33%;
    margin: auto;
    margin-top: 10px;
    float: left;
}
.box{
    width: 80px;
    height: 80px;
    border: 2px solid rgb(36, 23, 219);
    text-align: center;
    font-size: 80px;
}
.box:hover{
    box-shadow: 0px 0px 4px blue;
}
